In [1]:
import numpy as np
import pandas as pd

In [2]:
df = 
    pd.read_excel('https://file.xlsx',
                           sheet_name='sheet1',
                           skiprows=range(20),
                           skipfooter=2)
    
    pd.read_csv('data.csv', sep=',')
    pd.read_table('data.csv', sep='t')
    pd.read_fwf('data.csv') 
    pd.read_html()

    pd.read_sql_table('table_name', 'postgres:///db_name')
    pd.read_sql_query()
    pd.read_sql()  

    pd.to_csv()

    pd.to_table()

    with ExcelWriter('path_to_file.xlsx', mode='a',
                          date_format='YYYY-MM-DD',
                          datetime_format='YYYY-MM-DD HH:MM:SS') as writer:
        df.to_excel(writer)
        df1.to_excel(writer, sheet_name='Sheet1')
        df2.to_excel(writer, sheet_name='Sheet2')

SyntaxError: invalid syntax (<ipython-input-2-62f04cee3889>, line 1)

In [ ]:
df = pd.DataFrame([['a', 'b'], ['c', 'd']],
                  index=['row 1', 'row 2'],
                  columns=['col 1', 'col 2'])
# ----------------------------------------------------------------------
df.to_json(orient='split')
'{"columns":["col 1","col 2"],
  "index":["row 1","row 2"],
  "data":[["a","b"],["c","d"]]}'

pd.read_json(_, orient='split')
      col 1 col 2
row 1     a     b
row 2     c     d
# ----------------------------------------------------------------------
df.to_json(orient='index')
'{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}'

pd.read_json(_, orient='index')
      col 1 col 2
row 1     a     b
row 2     c     d
# ----------------------------------------------------------------------
df.to_json(orient='records')
'[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'

pd.read_json(_, orient='records')
  col 1 col 2
0     a     b
1     c     d
# ----------------------------------------------------------------------
df.to_json(orient='table')
'{"schema": {"fields": [{"name": "index", "type": "string"},
                        {"name": "col 1", "type": "string"},
                        {"name": "col 2", "type": "string"}],
                "primaryKey": "index",
                "pandas_version": "0.20.0"},
    "data": [{"index": "row 1", "col 1": "a", "col 2": "b"},
            {"index": "row 2", "col 1": "c", "col 2": "d"}]}'

In [ ]:
df.head()

In [ ]:
df.tail(10)

In [ ]:
df.info()

In [21]:
print('data dimensions:', df.shape)
df.shape

NameError: name 'df' is not defined

In [ ]:
df.describe()

In [ ]:
df.columns.values

In [ ]:
df.index.values

In [ ]:
print(type(df.columns))
print(type(df.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [ ]:
df.columns.tolist()
df.index.tolist()

print (type(df.columns.tolist()))
print (type(df.index.tolist()))

<class 'list'>
<class 'list'>

In [ ]:
# in pandas axis=0 represents rows (default) and axis=1 represents columns.
df = df.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)

In [ ]:
# We can use rename() method by passing in a dictionary of old and new names
df.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df.columns

In [ ]:
# To add a 'Total' column that sums up the total immigrants by country over the entire period 1980 - 2013
df['Total'] = df.sum(axis=1)

In [ ]:
# To check to see how many null objects we have in the dataset
df.isnull().sum()

In [ ]:
# Vertical Slicing

df.column_name 
        (returns series)

df['column']
        (returns series)

    
df[['column 1', 'column 2']] 
        (returns dataframe)

In [5]:
# Horizontal Slicing

    df.loc[label]        
        #filters by the labels of the index/column
    df.iloc[index]       
        #filters by the positions of the index/column

SyntaxError: invalid syntax (<ipython-input-5-2b1c8e280757>, line 2)

In [7]:
# Setting Index

df.set_index('Country', inplace=True)
# tip: The opposite of set is reset. So to reset the index, we can use
# df.reset_index()

NameError: name 'df' is not defined

In [8]:
# optional: to remove the Column's name of the index
df.index.name = None

NameError: name 'df' is not defined

In [9]:
# 1. the full row data (all columns) retrieve a row series
print(df.loc['Japan'])

# alternate methods
print(df.iloc[87])
print(df[df.index == 'Japan'].T.squeeze())

NameError: name 'df' is not defined

In [10]:
# 2. for year 2013
print(df.loc['Japan', 2013])

# alternate method
print(df.iloc[87, 36]) # year 2013 is the last column, with a positional index of 36

NameError: name 'df' is not defined

In [11]:
# 3. for years 1980 to 1985
print(df.loc['Japan', [1980, 1981, 1982, 1983, 1984, 1984]])
print(df.iloc[87, [3, 4, 5, 6, 7, 8]])

NameError: name 'df_can' is not defined

In [12]:
# Column names that are integers (such as the years) might introduce some confusion.
# For example, when we are referencing the year 2013, one might confuse that when the 2013th positional index.

# To avoid this ambuigity, let's convert the column names into strings: '1980' to '2013'.
df.columns = list(map(str, df.columns))
# [print (type(x)) for x in df.columns.values] #<-- uncomment to check type of column headers

NameError: name 'df' is not defined

In [13]:
# useful for plotting later on
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [17]:
# Filtering based on a criteria

In [18]:
# 1. create the condition boolean series
condition = df['Continent'] == 'Asia'
print(condition)

NameError: name 'df' is not defined

In [19]:
# 2. pass this condition into the dataFrame
df[condition]

NameError: name 'df' is not defined

In [ ]:
# we can pass mutliple criteria in the same line. 
# let's filter for AreaNAme = Asia and RegName = Southern Asia

df[(df['Continent']=='Asia') & (df['Region']=='Southern Asia')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses